.Products {
  padding: 30px 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 60px;
  padding-top: 100px;
}

@media (min-width: 768px) {
  .Products {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
